*.m4a*
*.mp3*
APIKEY.txt
GNWKEY.txt
pygn/__init__.py
example/pygn/__init__.py
output/session.pkl
logs/
session.txt
output/
*.pkl
*.pyc
*/*.pyc
*/*/*.pyc
*.mp3
*.webm
*.part
*.ytdl
example/pygn/
pygn/
