[submodule "marchhare"]
	path = marchhare
	url = https://jwatson_utah_edu@bitbucket.org/jwatson_utah_edu/marchhare.git
[submodule "pygn"]
	path = pygn
	url = https://github.com/cweichen/pygn.git
[submodule "example/pygn"]
	path = example/pygn
	url = https://github.com/cweichen/pygn.git
